<ifmodule mod_expires.c="">
ExpiresActive on
# exemples par type mime
ExpiresByType image/png "access plus 2 years"
ExpiresByType image/bmp "access plus 2 years"
ExpiresByType image/jpg "access plus 2 years"
ExpiresByType text/css "modification plus 2 years"
# exemples par extension
<FilesMatch ".(jpg|jpeg|png|gif|swf|js|css|png|bmp)$">
Header set Cache-Control "max-age=604800, public"
# 1 semaine max-age=604800
# 1 an max-age=29030400
</ifmodule>